// Mobile
#content {
  padding: 8px;
  margin: 8px;

  #profile-info {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 1rem 0;

    .profile-pic {
      width: 140px;
      height: 140px;
      border-radius: 100%;
    }
    .identity {
      line-height: 1.5rem;
    }

    .profile-btn {
      font-size: 1.2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      svg {
        cursor: pointer;
        color: #e31766;
      }

      p {
        font-size: 0.8rem;
        text-align: center;
        padding: 0 0.5rem;
      }
    }
  }

  .needs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    p {
      font-weight: bold;
      margin: 3rem 0 1.5rem 0;
    }
    ul {
      line-height: 1.5rem;
      li {
        list-style-type: circle;
      }
    }
  }

  .profile-description {
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
    border-radius: 0.5rem;
  }
}

//Desktop
@media (min-width: 830px) {
  #content {
    #profile-info {
      .profile-btn {
        p {
          display: flex;
        }
      }
    }

    .needs {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: start;
      justify-items: center;
    }
  }
}
